.article {
	// .article__img
	ol {
		margin-top: 26px;
		margin-bottom: 40px;
	}
	ul {
		margin-top: 23px;
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		gap: 18px;
		li {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 13px;
				transform: translateY(-50%);
				border-radius: 50%;
				background-color: #688b58;
				left: 0;
				width: 8px;
				height: 8px;
			}
			padding-left: 28px;
			@media screen and (max-width: 992px) {
				padding-left: 18px;
			}
			color: #545e75;
			font-family: Montserrat;
			font-size: 16px;
			@media screen and (max-width: 992px) {
				font-size: 14px;
			}
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
		}
	}
}

// Old Styles

.article {
	// .article__title

	h2 {
		margin-bottom: 12px;
		@media screen and (max-width: 992px) {
			margin-bottom: 5px;
			font-size: 25px;
		}
		color: #000;
		font-family: Montserrat;
		font-size: 28px;
		font-weight: 700;
		line-height: 150%;
		@media screen and (max-width: 768px) {
			font-size: 18px;
		}
		font-weight: 600;
		line-height: normal;
	}

	h3 {
		color: #000;
		font-family: Montserrat;
		font-size: 23px;
		font-weight: 700;
		line-height: 150%;
		margin-bottom: 12px;
		@media screen and (max-width: 992px) {
			margin-bottom: 5px;
			font-size: 17px;
		}
		color: #000;
		font-family: Montserrat;
		font-size: 23px;
		font-weight: 700;
		line-height: 150%;
		@media screen and (max-width: 768px) {
			font-size: 20px;
		}
	}
	& > p {
		margin-bottom: 20px;
		@media screen and (max-width: 992px) {
			margin-bottom: 14px;
		}
	}

	// .article__img
	img {
		margin-top: 40px;
		margin-bottom: 40px;
		@media screen and (max-width: 992px) {
			margin-top: 25px;
			margin-bottom: 25px;
		}

		border-radius: 15px;
		width: 100%;
		object-fit: cover;
	}
}

.article-tags {
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px 10px;

		li {
			width: max-content;
			padding-left: 0;
			&::before {
				display: none;
			}
		}
	}
	span {
		display: block;
		margin-bottom: 15px;
		color: #000;
		font-family: Montserrat;
		font-size: 25px;
		@media screen and (max-width: 992px) {
			font-size: 17px;
		}
		font-size: 17px;
		font-weight: 600;
		line-height: normal;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 10px;
		margin-bottom: 0;

		li {
			@media screen and (max-width: 992px) {
				padding-left: 0;
			}
			a {
				padding: 6px 10px 8px 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: $green;
				font-family: Montserrat;
				font-size: 13px;
				font-weight: 500;
				line-height: normal;
				border-radius: 10px;
				border: 1px solid transparent;

				border-radius: 100px;
				background: rgba(104, 139, 88, 0.1);

				transition:
					background-color 150ms ease-in-out,
					border 150ms ease-in-out;
				@include hover {
					border-color: $green;
					background-color: transparent;
				}
			}
		}
	}
}
.article-disclaimer {
	margin-bottom: 40px;
	padding-left: 30px;
	@media screen and (max-width: 992px) {
		padding-left: 20px;
		margin-bottom: 25px;
	}
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 4px;
		height: calc(100% - 4px);
		border-radius: 10px;
		background-color: $orange-light;
	}
	span {
		margin-bottom: 15px;
		color: #000;
		font-family: Montserrat;
		font-size: 17px;
		font-weight: 700;
		line-height: 150%;
		@media screen and (max-width: 992px) {
			font-size: 14px;
		}
	}
	p {
		color: #545e75;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;
		@media screen and (max-width: 992px) {
			font-size: 14px;
		}
	}
	p + p {
		margin-top: 10px;
	}
}
