<section class="about">
	<div class="about__container container">
		<h2 class="about__title">
			Company’s Philosophy and Values:
			<span>The Path To Your Peace Of Mind</span>
		</h2>
		<p class="about__subtitle">
			The significant success achieved by our company is the result of hard work
			and a clear philosophy, which is based on five main components:
		</p>
		<ol>
			<li>
				Product quality. We work only with trusted suppliers and manufacturers.
				Everything, from transportation conditions to the temperature regime in
				the sales area, is subject to strict control. To do this, we have
				created a special control and audit department, where employees
				constantly check the compliance of each network pharmacy according to
				strict standards.
			</li>
			<li>
				A wide range. More than 650 items, including rare medicines, cosmetics,
				orthopedic products could be found at our pharmaceutical chain.
			</li>
			<li>
				Affordable prices. Despite the significant costs (staff training, the
				widest range of items, the interiors of trading floors), we control the
				growth of prices within the network. Medicines (both prescribed and
				over-the-counter) should be available to everyone. In addition, we
				provide a discount of up to 15% to regular customers.
			</li>
			<li>
				Competence of staff. Thanks to the professional staff of our pharmacies,
				who are constantly improving their knowledge, all the customers have a
				great opportunity to get competent advice, and the necessary
				consultation. All the pharmacists regularly improve their skills through
				various courses, trainings, and conferences. The main areas of training
				are: pharmacology and pharmacotherapy, pharmaceutical deontology and
				psychology, cosmeceuticals, management and sales management.
			</li>
			<li>
				The comfort of customers. The last, but not the least point is how
				customer feel in our pharmacies. Respectful, polite treatment, quality
				goods, constant discounts and gifts, consultations with qualified
				specialists — all these you can find at any Mexican pharmacy. We love
				our customers, and they fully reciprocate.
			</li>
		</ol>
		<div class="to-products about__to-products">
			<div class="to-products__text to-products__text--like">
				You should realize that by choosing Mexican pharmacies you also choose
				comfort, convenience, peace of mind, respect, high-quality services,
				etc.
			</div>
		</div>
	</div>
	<div class="about-cards">
		<div class="about-cards__container container">
			<div class="about-card about-card--1">
				<div class="about-card__img"></div>
				<div class="about-card__bigtext">
					Mexican Pharmacy Online Price Transparency
				</div>
			</div>
			<div class="about-card about-card--2">
				<h5 class="about-card__title">
					Our mission is simple: <span>to make medicines affordable.</span>
				</h5>
				<p class="about-card__text">
					We have shortened the path of medicines from the manufacturer to the
					consumer as much as possible. Working directly with manufacturers and
					distributors, we not only provide medicines at low prices, but also
					guarantee the authenticity of the goods.
				</p>
			</div>
			<div class="about-card about-card--3">
				<p>
					In addition to low prices, we are also working tirelessly to expand
					our range to make finding medicines easy for you. In pharmacies and on
					the website, you will find a wide range of medicines, medical
					equipment, medical cosmetics, sports nutrition, products for mothers
					and babies, etc.
				</p>
				<p>
					An important role in success is played by the introduction of modern
					methods of work, which allow us to remain at the proper level and even
					surpass competitors. A huge role in this was played by the creation of
					a unique loyalty system. As a result, at the moment, we have more than
					<strong>70,000 regular customers.</strong> The highlight of the system
					is its mono-brand. It stimulates customers not only with discounts,
					but also with bonuses that can be exchanged for gifts. None of our
					direct competitors can currently offer an analog of such a system.
				</p>
			</div>
		</div>
	</div>
	<div class="info-block">
		<div class="container">
			<h2>Community Engagement: <span>Giving Back to Our Roots</span></h2>
			<p>
				It is not a secret at all that the development of any pharmaceutical
				company is highly dependent on the history and roots of the country.
				Mexico is no exception. Thanks to the development of traditional
				medicine and the widespread use of medicinal plants, the inhabitants of
				the country were able to discover many medicinal recipes that help
				maintain health to this day. But also, a traditional part of Mexican
				culture is the presence of a doctor in every pharmacy. You may be
				surprised by it, but it’s true.
			</p>
			<p>
				If you live in Mexico, you know that the easiest and cheapest way to get
				a consultation from a doctor is to go to the nearest pharmacy. In almost
				every large pharmacy network, there are so-called “consultorios medicos”
				where the real doctor works. Pharmacy doctors accept everyone: Mexicans
				and foreigners, tourists, children and adults. You should not worry
				about the license, as all the doctors who work in pharmacies are both
				licensed and certified. Actually, they can work simultaneously in state
				and private clinics, and regularly have different trainings.
			</p>
			<p>
				Of course, you should talk to pharmacy doctors only in special cases:
				high temperature, sore throat, mild trauma, rashes on the skin. Even if
				you don’t know exactly which specialist you need, start a consultation
				with a pharmacy doctor. He will refer you to other specialists. A
				pharmacy doctor can prescribe you medicines that you may buy in the same
				pharmacy, if you wish. The biggest advantage of consultation with a
				pharmacy doctor is its low cost. No one will impose the appointment of
				unnecessary tests and the purchase of unnecessary drugs. In general, the
				level of medicine in Mexico is indeed high, even in the most ordinary
				pharmacies. Also, one of the interesting facts is that a lot of doctors
				go to work in pharmacies as volunteers without receiving any salary.
				Their main goal is to help people.
			</p>
		</div>
	</div>
	<div class="feel-block about__feel-block">
		<div class="feel-block__container container">
			<div class="feel-block__img">
				<span>Feel the Difference with</span>
				<span>Mexico Drugstore</span>
			</div>
			<div class="feel-block__content">
				<div class="feel-block__subtitle">
					Mexico pharmacy meets all modern standards and requirements and is not
					inferior to foreign companies. At the same time, Mexican
					pharmacological services are in many ways superior to
					<span>American or European services.</span> The important point that
					distinguishes Mexican Pharmacies from US ones is that prior to July
					2010, almost any medicine could be purchased without a doctor’s
					prescription.
				</div>
				<p>
					Mexico pharmacy meets all modern standards and requirements and is not
					inferior to foreign companies. At the same time, Mexican
					pharmacological services are in many ways superior to American or
					European services. The important point that distinguishes Mexican
					Pharmacies from US ones is that prior to July 2010, almost any
					medicine could be purchased without a doctor’s prescription.
				</p>
				<p>
					Due to the high price of medicines in the US, many Americans go to
					Mexico to buy the necessary medicines. Some people buy name brand
					drugs at a reduced price, others buy generic products. Recently, the
					system of discounts on medicines has become widespread in Mexico,
					mainly due to the growth of pharmaceutical companies that offer
					generic drugs as an alternative to brand name drugs. Even brand-name
					drugs are sometimes (but not always) cheaper in Mexico than in the US
					and Europe, so buying the “verified” drugs won’t cost you more and
					shield you from the risk of generic and cheap drugs.
				</p>
				<div class="to-products feel-block__products">
					<div class="to-products__text">
						Mexican Pharmacy – Taking Responsibility for a Sustainable Future
					</div>
					<a href="#" class="btn-with-arrow">View all products</a>
				</div>
			</div>
		</div>
	</div>
</section>
