<footer class="footer">
	<div class="footer__container container">
		<div class="footer__contacts">
			<div class="footer__copy">
				<span
					>Copyright ©2023 <br />
					«Mexican Pharmacy» <br />
					All rights reserved.</span
				>
				<span
					>11940 U.S. HWY 1 Suite 160 Palm <br />
					Beach Gardens, FL 33408</span
				>
			</div>
			<a href="tel:+18008971053" class="footer__mobile mobile-box">
				+1 800 897 1053
			</a>
		</div>
		<div class="footer__right">
			<ul class="menu footer__menu">
				<li class="menu-item menu-item-basic">
					<a href="#">Bestsellers</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">ED Sample Packs</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Erectile Dysfunction</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Allergies</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Anti Fungal</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Anti Viral</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Antibiotics</a>
				</li>
			</ul>
			<ul class="menu footer__menu">
				<li class="menu-item menu-item-basic">
					<a href="#">Anxiety</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Arthritis</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Asthma</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Birth Control</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Blood Pressure</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Cholesterol Lowering</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Depression</a>
				</li>
			</ul>
			<ul class="menu footer__menu">
				<li class="menu-item menu-item-basic">
					<a href="#">Diabetes</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Gastrointestinal</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Hair Loss</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Heart Disease</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Herbals</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Men's Health</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Muscle Relaxant</a>
				</li>
			</ul>
			<ul class="menu footer__menu">
				<li class="menu-item menu-item-basic">
					<a href="#">Other</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Pain Relief</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Skincare</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Sleep Aid</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Quit Smoking </a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Weight Loss</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Woman's Health</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="footer-bottom__container container">
			<div>
				<a class="footer-bottom__privacy" href="#"
					>Terms Conditions and Privacy Policy</a
				>
			</div>
			<ul class="menu footer-bottom__menu">
				<li class="menu-item menu-item-basic">
					<a href="#">Home</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">About Us</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">News</a>
				</li>
				<li class="menu-item menu-item-basic">
					<a href="#">Contact us</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
