<section class="health">
	<div class="container health__container">
		<h2 class="health__title">A Name Synonymous with Health Trust</h2>
		<div class="health-cards">
			<div class="health-card">
				<div class="health-card__num">1</div>
				<p>
					Currently, the range of Mexican pharmacies meets the needs of the most
					demanding customers. Health and beauty centers are also a trend of the
					times, so all our customers are not only offered medical cosmetics
					from <span>the world’s leading manufacturers,</span> but also
					<span>medical consultants</span> who provide qualified advice about
					the use of cosmetics.
				</p>
			</div>
			<div class="health-card">
				<div class="health-card__num">2</div>
				<p>
					There are also some <span>orthopedic departments</span> for people in
					need of orthopedic and medical products for the treatment and
					prevention of diseases of the spine and joints, and the
					musculoskeletal system. They can not only
					<span>receive expert advice,</span> but also carry out express
					diagnostics of spinal deformities and foot diseases.
				</p>
			</div>
			<div class="health-card">
				<div class="health-card__num">3</div>
				<p>
					A fundamental part of success lies in the
					<span>maximum automation</span> of all production processes. This is
					not only computerization, but also a rather serious automated
					decision-making system, that was developed by the employees of the
					company. But the main component of success is the kind, friendly
					attitude of our pharmacy staff and our customers. We position
					ourselves as a pharmacy for the whole family, and we are trying to
					revive the former respect of people for the profession of a
					pharmacist, treating him as a person from whom you can always get
					professional advice and support.
				</p>
			</div>
		</div>
	</div>
</section>
