<section class="hero">
	<div class="hero__container container">
		<div class="hero__content">
			<h1 class="hero__title title">
				Mexican Pharmacy Taking
				<span>Responsibility for a Sustainable Future</span>
			</h1>
			<p>
				Starting from a very small pharmacy in one of the country town, Mexican
				pharmacies are currently one of the most developed chains both inside
				and outside the country. We are heading towards the development of a
				pharmacy network not only in Mexico, but also abroad. We do all our best
				to satisfy all your needs and provide a decent future for the Mexican
				healthcare system.
			</p>
			<p>
				Based on experience, we look to the future and understand that time does
				not stand still. So do we. Many new areas, such as the loyalty program
				and pharmacy centers, first appeared in Mexico precisely on the
				initiative of our network. Being the first-comes with great
				responsibility, but we are not afraid to go forward, and we are not
				frightened to open new horizons together with our customers. We work
				only with trusted suppliers and manufacturers.
			</p>
		</div>
		<div class="hero__img">
			<picture>
				<source
					srcset="./assets/img/hero-bg-mobile.png"
					media="(max-width: 768px)"
				/>
				<source
					srcset="./assets/img/hero-bg-tablet.png"
					media="(max-width: 1200px)"
				/>

				<img src="./assets/img/hero-bg.png" alt="img" aria-hidden="true" />
			</picture>
		</div>
	</div>
</section>
