<section class="products">
	<div class="products__container container">
		<div class="product-cards">
			<!-- 1 -->
			<div class="product-card product-card--1 green-gradient">
				<div class="product-card__top">
					<div class="product-card__category">Category</div>
					<h6 class="product-card__title">Men’s Health</h6>
				</div>
				<div class="product-card__body">
					<ul class="arrow-list">
						<li class="arrow-list__item">Generic Viagra</li>
						<li class="arrow-list__item">Generic Cialis</li>
						<li class="arrow-list__item">Priligy</li>
						<li class="arrow-list__item">Female Viagra</li>
						<li class="arrow-list__item">Viagra Professional</li>
					</ul>
				</div>
				<div class="product-card__bottom">
					<a href="#" class="product-card__btn">View Products</a>
				</div>
			</div>

			<!-- 2 -->
			<div class="product-card product-card--2 red-gradient">
				<div class="product-card__top">
					<div class="product-card__category">Special offers</div>
					<h6 class="product-card__title">Last Month Bestsellers</h6>
				</div>
				<div class="product-card__body">
					<ul class="pill-list">
						<li class="pill-list__item pill-list__item--1">
							<a href="#" class="pill-list__link">
								<span>Zithromax</span>
								<span>from $0.92</span>
							</a>
						</li>
						<li class="pill-list__item pill-list__item--2">
							<a href="#" class="pill-list__link">
								<span>Accutane</span>
								<span>from $0.92</span>
							</a>
						</li>
						<li class="pill-list__item pill-list__item--3">
							<a href="#" class="pill-list__link">
								<span>Ivermectin</span>
								<span>from $0.92</span>
							</a>
						</li>
						<li class="pill-list__item pill-list__item--4">
							<a href="#" class="pill-list__link">
								<span>Sildenafil</span>
								<span>from $0.92</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="product-card__bottom"></div>
			</div>

			<!-- 3 -->
			<div class="product-card product-card--3 green-gradient">
				<div class="product-card__top">
					<div class="product-card__category">Our Services</div>
					<h6 class="product-card__title">Favorable conditions</h6>
				</div>
				<div class="product-card__body">
					<ul class="arrow-list">
						<li class="arrow-list__item">Free delivery packages from $200</li>
						<li class="arrow-list__item">Worldwide Shipping</li>
						<li class="arrow-list__item">
							Bonus pills for Erectyle Dysfunction meds
						</li>
					</ul>
				</div>
				<div class="product-card__bottom"></div>
			</div>

			<!-- 4 -->
			<div class="product-card coupon-card">
				<div class="product-card__top">
					<div class="product-card__img"></div>
					<div class="product-card__category">coupon code</div>
					<h6 class="product-card__title">10% Off For First Order</h6>
				</div>
				<div class="product-card__body"></div>
				<div class="product-card__bottom">
					<div href="#" class="copy-box">
						<div class="copy-box__text">1ZGE4CM</div>
						<div class="copy-box__icon"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="to-products">
			<div class="to-products__text">
				Mexican Pharmacy – Taking Responsibility for a Sustainable Future
			</div>
			<a href="#" class="btn-with-arrow">View all products</a>
		</div>
	</div>
</section>
