.inner {
	&__top {
		margin-bottom: 40px;
    @media screen and (max-width: 992px) {
      margin-bottom: 30px;
		}
	}
	&__title {
		margin-bottom: 17px;
		color: #000;
		font-family: Montserrat;
		font-size: 36px;
		font-weight: 700;
		line-height: 138.889%;
		@media screen and (max-width: 992px) {
			font-size: 22px;
			line-height: 130%;
      margin-bottom: 10px;
		}
	}
}
