<article class="article">
	<h2>What is a Healthcare District? H2</h2>
	<p>
		Having trust in your healthcare provider can mean many different things for
		different people. It starts with great doctor-patient relationships, state
		of the art equipment, easy access to care, professionalism, respect for your
		privacy and service with a smile. Best of all you don’t have to drive far
		for superior healthcare!
	</p>
	<img src="./assets/img/article1.png" alt="article" class="article__img" />
	<h2>Numbered list - H2</h2>
	<p>
		Coalinga is committed to provide personalized, quality-oriented healthcare
		and drugs through an ethically and fiscally responsible service network,
		enhancing the health of the people we serve.
	</p>
	<div class="numbered-list-wrapper">
		<ol>
			<li>
				Coalinga is committed to provide personalized, quality-oriented
				healthcare and drugs through an ethically and fiscally responsible
				service network, enhancing the health of the people we serve.
			</li>
			<li>
				Having trust in your healthcare provider can mean many different things
				for different people. It starts with great doctor-patient relationships,
				state of the art equipment, easy access to care, professionalism,
				respect for your privacy and service with a smile. Best of all you don’t
				have to drive far for superior healthcare!
			</li>
			<li>
				Through the efforts of a highly qualified and dedicated physician and
				employee staff, and through alliances with other regional providers,
				Coalinga med center addresses the health care needs of the residents of
				the City of Coalinga and the surrounding area.
			</li>
		</ol>
	</div>
	<h3>Unordered list - H3</h3>
	<p>
		Coalinga is committed to provide personalized, quality-oriented healthcare
		and drugs through an ethically and fiscally responsible service network,
		enhancing the health of the people we serve.
	</p>
	<div class="unordered-list-wrapper">
		<ul>
			<li>
				Having trust in your healthcare provider can mean many different things
				for different people. It starts with great doctor-patient relationships,
				state of the art equipment, easy access to care, professionalism,
				respect for your privacy and service with a smile. Best of all you don’t
				have to drive far for superior healthcare!
			</li>
			<li>
				Coalinga is committed to provide personalized, quality-oriented
				healthcare and drugs through an ethically and fiscally responsible
				service network, enhancing the health of the people we serve.
			</li>
			<li>
				Through the efforts of a highly qualified and dedicated physician and
				employee staff, and through alliances with other regional providers,
				Coalinga med center addresses the health care needs of the residents of
				the City of Coalinga and the surrounding area.
			</li>
		</ul>
	</div>
	<p>
		Having trust in your healthcare provider can mean many different things for
		different people. It starts with great doctor-patient relationships, state
		of the art equipment, easy access to care, professionalism, respect for your
		privacy and service with a smile. Best of all you don’t have to drive far
		for superior healthcare!
	</p>
	<div class="article-disclaimer">
		<span>Disclaimer:</span>
		<p>
			A representative AWP (Average Wholesale Price) price or price range is
			provided as reference price only. A range is provided when more than one
			manufacturer's AWP price is available and uses the low and high price
			reported by the manufacturers to determine the range. The pricing data
			should be used for benchmarking purposes only, and as such should not be
			used alone to set or adjudicate any prices for reimbursement or purchasing
			functions or considered to be an exact price for a single product and/or
			manufacturer. Medi-Span expressly disclaims all warranties of any kind or
			nature, whether express or implied, and assumes no liability with respect
			to accuracy of price or price range data published in its solutions.
		</p>
	</div>
	<div class="article-tags">
		<span>Tags:</span>
		<ul>
			<li>
				<a href="#">Tadalafil</a>
			</li>
			<li>
				<a href="#">Antidepressants</a>
			</li>
			<li>
				<a href="#">Canadian Pharmacy</a>
			</li>
			<li>
				<a href="#">Drugs</a>
			</li>
			<li>
				<a href="#">Female Viagra</a>
			</li>
			<li>
				<a href="#">Healthy Living</a>
			</li>
			<li>
				<a href="#">Cialis Professional</a>
			</li>
			<li>
				<a href="#">Cialis</a>
			</li>
		</ul>
	</div>
</article>
