<div class="news">
	<h2 class="news__title" data-animate>Recent News</h2>
	<ul>
		<li data-animate>
			<a href="#">
				<h3>What should I do to prepare for this flu season?</h3>
				<div>
					<span>September 13, 2023</span>
				</div>
			</a>
		</li>
		<li data-animate>
			<a href="#">
				<h3>Bronchial Thermoplasty provides long-term asthma control</h3>
				<div>
					<span>September 13, 2023</span>
				</div>
			</a>
		</li>
		<li data-animate>
			<a href="#">
				<h3>Charge Description Master (CDM)</h3>
				<div>
					<span>September 13, 2023</span>
				</div>
			</a>
		</li>
		<li data-animate>
			<a href="#">
				<h3>Back Pain</h3>
				<div>
					<span>September 13, 2023</span>
				</div>
			</a>
		</li>
		<li data-animate>
			<a href="#">
				<h3>Depression</h3>
				<div>
					<span>September 13, 2023</span>
				</div>
			</a>
		</li>
		<li data-animate>
			<a href="#">
				<h3>Valley Fever</h3>
				<div>
					<span>September 13, 2023</span>
				</div>
			</a>
		</li>
	</ul>
</div>
